<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<div class="contact"><%= link_to "contact", '/contact' %></div>
		<div class="contact"><%= link_to "team", '/team' %></div>
		</header>


		<h1>Bienvenue mouss' !</h1>
		 <%@gossips.each_with_index do |gossip, index| %> <!-- <% %> pour executer du ruby dans le html -->
		 <div id="cards">  <p>
		      <div id="author"><%= gossip.title %></div> <!-- <%= %> equivaut au puts de Ruby -->
		      <div id="content"><%= gossip.content %></div>
		    </p>
		    <div><a href="/gossips/<%=index%>">Voir le potin <%= index %></a></div>
		    <%end%></div>
</body>
</html>